# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/

# PyInstaller
build/
dist/
*.spec

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Local files
ffmpeg.exe
ffmpeg
*.log
